# Docs for the Azure Web Apps Deploy action:
# https://github.com/Azure/webapps-deploy

name: Build and deploy ASP.Net Core app to Azure Web App - student-microservice

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    permissions:
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up .NET 8
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Restore dependencies
        working-directory: StudentAPI
        run: dotnet restore

      - name: Build project
        working-directory: StudentAPI
        run: dotnet build --configuration Release --no-restore

      - name: Publish project
        working-directory: StudentAPI
        run: dotnet publish -c Release -o "${{ github.workspace }}/publish" --no-build

      - name: Upload artifact for deployment
        uses: actions/upload-artifact@v4
        with:
          name: .net-app
          path: ${{ github.workspace }}/publish

  deploy:
    runs-on: windows-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: .net-app
          path: ./publish

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_299A659C475A44C69A236A9A859B7271 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_1BC70A0915A44FCFB762361626370D66 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_298E03D2ECC24090986041CC2970E35C }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'student-microservice'
          slot-name: 'Production'
          package: ./publish
